<?
	define('MYSQL_USER', 'username');
	define('MYSQL_PASS', 'password');
	define('MYSQL_HOST', 'localhost');
	define('MYSQL_DB', 'shakefeed');

	$keys = array(
		'oauth_key'	=> '...',
		'oauth_secret'	=> '...',
		'user_key'	=> '...',
		'user_secret'	=> '...',
	);
